.container{

    border: 1px;
    justify-content: center;
    border-style: solid;
    border-color: #000000;
    margin: 1em;
    padding: 1em;
}

.alert-success{
    --bs-alert-color: #000000;
    --bs-alert-bg: #ffffff;
    --bs-alert-border-color: #badbcc;
}

.parentTableBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tableBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 77%;
    margin: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
    flex-wrap: wrap;
    align-content: center;
    overflow-wrap: break-word;
}

.container-box{
    background-color: black;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 105%;
}

.buttonContainer{
    display: flex;
    
}

.entryBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.postBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 80%;
    word-break: break-all; 
    overflow-wrap: break-word;
}

.postBoxDisplay{
    display: flex;
    border-radius: var(--bs-border-radius)!important;
    width: 138%;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    overflow-wrap: break-word;
    width: 45%;
}


