::after, ::before {
    box-sizing: border-box;
    word-break: normal;
}


.border-box {
    border: 1px;
    justify-content: center;
   
    border-color: #ced4da;
    margin: 1em;
    padding: 1em;
    width: 50%;
    border-radius: 1%;
}


.grid-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 1px;
    justify-content: center;
  
    border-color: #ced4da;
    margin: 1em;
    padding: 1em;
    border-radius: 1%;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-fluid {
--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background-color: bisque;
}




